@use '../styles/variables' as *;

.friends-section {
  background-color: $primary-color;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px $box-shadow-color;

  & .search-bar {
    position: relative;
    width: 90%;
    margin: 0 auto 20px auto;

    input {
      width: 100%;
      padding: 10px 20px;
      padding-left: 45px;
      font-size: 16px;
      border: none;
      border-radius: 30px;
      background-color: $background-light;
      box-shadow: 0 4px 6px $box-shadow-color;
    }

    i {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-size: 20px;
      color: $secondary-color;
    }
  }

  .friends-title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: $secondary-color;
  }

  .friends-list {
    .friend-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .friend-avatar img {
        border: 2px solid $border-color;
      }

      .friend-info h6 {
        font-size: 14px;
        margin: 0;
      }

      small {
        font-size: 12px;
        color: $text-muted;
      }

      .status-indicator-circle {
        width: 10px;
        height: 10px;
        background-color: $status-indicator-purple;
        border-radius: 50%;
      }
    }
  }
}
